name: Go byo-sbom generation
on: [ push ]

env:
  IMAGE: ttl.sh/nais/sbom/byosbom
  CONTEXT: ci/golang

jobs:
  byo-sbom:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: ${{ env.IMAGE }}:1h
          context: ./${{ env.CONTEXT }}

      - name: Trivy to generate sbom
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: "image"
          format: "cyclonedx"
          output: "sbom.json"
          image-ref: "${{ env.IMAGE }}:1h"

      - name: Generate, and output SBOM
        uses: ./
        id: sbom
        with:
          image: ${{ env.IMAGE }}@${{ steps.docker_build.outputs.digest }}
          context: ${{ env.CONTEXT }}
          byo-sbom: sbom.json

      - name: Upload SBOM
        uses: actions/upload-artifact@v3
        with:
          name: sbom
          path: ${{ steps.sbom.outputs.sbom-path }}